:root {
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg-color : #010103;
    --border : 1px solid rgba(255, 255, 255, 0.351);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}


html::-webkit-scrollbar{
    width: 7px;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

.btn-style {
    border: none;
    outline: none;
    color: white;
    background-color: #D3AD7F;
    padding: 6px 25px;
    font-size: 18px;
    transition: .2s linear;
}

.btn-style:hover {
    letter-spacing: 2px;
}


body {
    background-color: var(--bg-color);
}

section {
    padding: 90px 0;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 30px;
}

.section-title span {
    color: #D3AD7F;
}

/* header area starts */

.logo {
    height: 60px;
}

.navbar {
    background-color: var(--bg-color) !important;
    border-bottom: 1px solid gray;
}

.navbar-nav a {
    color: white !important;
    font-size: 18px;
    margin: 0 8px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 5px;
    transition: .2s linear;
}

.navbar-nav a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}

.header-icon {
    color: white;
}

.header-icon i {
    margin: 10px;
    font-size: 25px;
}

@media screen and (max-width : 576px) {
    .header-icon-sm {
        display: none;
    }
}
/* header area end */

/* banner area start */
.banner-section {
    background: url(images/home-img.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.banner-text {
    color: white;
    margin-top: 140px;
}

.banner-text h1 {
    font-size: 60px;
}

.banner-text p {
    font-size: 20px;
    font-weight: 100;
    color: #eee;
}

@media screen and (max-width: 992px) {
    .banner-text {
        text-align: center;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    .banner-text p {
        font-size: 16px;
    }
    .get-btn {
        font-size: 16px;
        padding: 5px 18px;
    }
}

/* banner area end */

/* about area start */
.about-section .row {
    background-color: var(--black);
}

.about-text {
    padding: 10px;
}

.about-text h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.about-text p {
    color: rgb(222, 222, 222);
}
/* about area ends */

/* menu area starts */
.menu-card {
    border: var(--border);
    text-align: center;
    padding: 50px 0;
    color: white;
    transition: .2s linear;
}
.menu-card img {
    width: 100px;
    margin-bottom: 10px;
}

.menu-card h3 {
    font-size: 25px;
}

.price {
    font-size: 25px;
    font-weight: 400;
}
.price span {
    font-size: 15px;
    text-decoration: line-through;
}

.menu-card:hover {
    background-color: #fff;
}

.menu-card:hover > * {
    color: var(--black);
}
/* menu area ends */

/* products area starts */
.products-card {
    border: var(--border);
    text-align: center;
    padding: 20px 0;
}

.products-card .icons {
    margin-bottom: 20px;
}

.products-card .icons a {
    color: white;
    font-size: 20px;
    border: var(--border);
    padding: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.products-card .icons a:hover {
    background-color: var(--main-color);
}

.products-card .image {
    margin-bottom: 20px;
}

.products-card .image img {
    height: 250px;
}

.products-card h3,h5 {
    color: white;
}

.products-card .stars {
    color: var(--main-color);
    margin-bottom: 5px;
}
/* products area ends */

/* review area starts */
.review-card{
    padding: 20px 10px;
    border: var(--border);
    text-align: center;
}

.review-card img {
    width: 58px;
    margin-bottom: 15px;
}

.review-card .avatar img {
    width: 70px;
    border-radius: 50%;
    margin: 10px 0;
}

.review-card p {
    color: rgb(222, 222, 222);
    font-size: 16px;
}

.review-card h4 {
    color: white;
}

.review-card .stars {
    color: var(--main-color);
}
/* review area ends */

/* contact area starts */
.contact-section .row {
    background: var(--black);
}
.contact-section .map {
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.contact-section form {
    text-align: center;
}

.contact-section form h3 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

.contact-section form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background:var(--bg-color);
    border:var(--border);
    padding: 12px 0;
}

.contact-section form .inputBox span {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 15px;
}

.contact-section form .inputBox input {
    background : none;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    width: 100%;
}

/* contact area ends */

/* blogs area starts */
.card {
    border: var(--border) !important;
    background: #000;
    color: white;
    overflow: hidden;
}

.card-body {
    background-color: black;
}

.card:hover img {
    transform: scale(1.2);
}

.card .card-body h4:hover {
    color: var(--main-color);
}
.card .card-body h5 {
    color: var(--main-color);
    font-size: 20px;
}
/* blogs area ends */

/* footer area starts */
.footer-section {
    background-color: var(--black);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-section .share {
    margin-bottom: 35px;
}

.footer-section .share a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    border: var(--border);
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer-section .share a:hover {
    background-color: var(--main-color);
}

.footer-section .links {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-section .links a {
    text-decoration: none;
    color: white;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border: var(--border);
    padding: 6px 20px ;
}

.footer-section .links a:hover {
    background-color: var(--main-color);
}

.copyright {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.copyright span {
    color: var(--main-color);
}
/* footer area ends */
